<div class="page-defaults" id="shopId" >
  <h1><span>Little Esty Shop</span></h1>
</div>

<div class="page-defaults" id="splitSides">

  <div class="page-defaults" id="leftSide">
    <%= @merchant.name %>
  </div>

  <div class="page-defaults" id="rightSide">
    <ul>
      <%= link_to 'My Items', "/merchants/#{@merchant.id}/items" %>
      <%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %>
    </ul>
  </div>

</div>

<div class="page-defaults" id="splitSides">
  <div class="page-defaults" id="leftSide2">
    <h2><%= "Invoice: #{@invoice.id}"%> </h2>
    <p><%= "Status: #{@invoice.status}" %> </p>
    <p><%= "Created on: #{@invoice.created_at.strftime("%A, %B %d, %Y")}" %></p>
    <p><%= "Total Revenue: #{@invoice.total_revenue}" %></p>
    <p>Total Revenue for <%= @merchant.name %> Before Discount: <%= number_to_currency(@invoice.total_merch_rev(@merchant.id) / 100) %></p>
    <p>Total Revenue for <%= @merchant.name %> After Discount: <%= number_to_currency(@invoice.merch_discounted_rev(@merchant.id) / 100) %></p>
    <h2>Customer</h2>
    <p> <%= "#{@invoice.customer.first_name} #{@invoice.customer.last_name}" %></p>
  </div>
</div>


<div class="page-defaults" id="itemtable">
  <table>
    <tr>
      <th><h4> Item Name </h4></th>
      <th><h4> Bulk Discount </h4></th>
      <th><h4> Quantity </h4></th>
      <th><h4> Unit Price </h4></th>
      <th><h4> Status </h4></th>
    </tr>
      <% @invoice.merch_invoice_items(@merchant.id).each do |invoice_item| %>
        <tr id="invoiceItem-<%= invoice_item.id %>">
          <td> <%= invoice_item.item.name %></td>
          <td> 
            <% if invoice_item.greatest_discount.nil? %>
              <p>no discount applied</p>
            <% else %>
              <%= link_to 'Discount Applied', merchant_bulk_discount_path(@merchant.id, invoice_item.greatest_discount.id) %></td>
            <% end %>
          <td> <%= invoice_item.quantity %></td>
          <td> <%= number_to_currency(invoice_item.unit_price / 100.0) %></td>
          <td>
            <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}?invoice_item_id=#{invoice_item.id}", method: :patch do |form| %>
              <%= form.select :status, ["pending", "packaged", "shipped"], :selected => invoice_item.status %>
              <%= form.submit "Update Item Status" %>
            <% end %>
          </td>
        </tr>
      <% end %>
  </table>
</div>
